@charset 'UTF-8';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/jumbotron';

.BaseHeader {
  background-attachment: fixed;
  background-image: url('../images/header-background.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 6rem 3rem;
  text-shadow: 0.0625rem 0.0625rem 0.625rem #000;
}
