.AppHeader {
  background-attachment: fixed;
  background-image: url('../../images/header-background.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 6rem 3rem;
  text-shadow: 0.0625rem 0.0625rem 0.625rem #000;
}
